<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/employee-database/employee-form">
        <label for="first_name">First Name</label>
        <input 
            id="first_name"
            type="text"
            required="true"
            name="first_name_field"
            value="<%= employee.first_name %>"
        />
        <label for="family_name">Family Name</label>
        <input 
            id="family_name"
            type="text"
            name="family_name_field"
            value="<%= employee.family_name %>"
        />
        <label for="date_of_birth">Date of Birth:</label>
        <input 
            id="date_of_birth"
            type="date"
            name="date_of_birth_field"
            value="<%= employee.date_of_birth %>"
        />
        <label for="date_of_death">Date of Death:</label>
        <input 
            id="date_of_death"
            type="date"
            name="date_of_death_field"
            value="<%= employee.date_of_death %>"
        />
        <label for="clearance_level">Clearance Level:</label>
        <select 
            for="clearance_level"
            id="clearance_level"
            name="clearance_level_field"
            required="true"
        >
        <% ["I", "II", "III", "IV", "V"].forEach((clearance_level) => { %>
            <option
                <% if (employee.clearance_level === clearance_level) { %>
                 selected
                <% } %> 
                value="<%= clearance_level %>"><%= clearance_level %></option>
        <% }); %>
        </select>
        <% if (is_editing) { %>
            <input 
                type="hidden"
                name="is_editing"
                value="<%= is_editing %>" 
                required="true"
            />
            <input 
                type="hidden"
                name="_id"
                value="<%= employee._id %>" 
                required="true"
            />
        <% } %>
        <input type="submit" value="Submit Employee Form" />
    </form>
</body>
</html>