<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSE Enter Form</title>
</head>
<body>
    <% if (is_editing) { %>
        <form method="POST" action="/ose-database/ose-delete">
            <input 
                type="hidden"
                name="_id"
                value="<%= ose._id %>" 
                required="true"
            />
            <button type="submit">Delete</button>
        </form>     
    <% } %>
    <form method="POST" action="/ose-database/ose-form">
        <label for="anonomoly_id_number">OSE Identification Number:</label>
        <input
            value=<%= ose.anonomoly_id_number %> 
            id="anonomoly_id_number"
            type="number"
            name="anonomoly_id_number_field"
            required="true"
        />
        <label for="author">Author:</label>
        <select
            id="author"
            for="author"
            name="author_field"
            required="true"
        >
            <% authors.forEach((author) => { %>
                <option 
                    value="<%= author._id %>"
                    <% if (author._id === ose.author) { %>
                        selected
                    <% } %>
                    >Dr. <%= author.first_name + " " + author.family_name %></option>
            <% }); %>
        </select>
        <label for="object_class">Object Class:</label>
        <select 
            id="object_class"
            for="object_class"
            name="object_class_field"
            required="true"
        >
            <% ["ZAYIN", "TETH", "HE", "WAW", "ALEPH"].forEach((object_class) => { %>
                <option 
                    value="<%= object_class %>"
                    <% if (object_class === ose.object_class) { %>
                     selected
                    <% } %>
                    ><%= object_class %></option>
            <% }); %>
        </select>
        <label for="special_containment_procedures">Special Containment Procedures:</label>
        <input
            id="special_containment_procedures"
            type="text"
            name="special_containment_procedures_field"
            value="<%= ose.special_containment_procedures %>"
        />
        <label for="description">Description:</label>
        <input
            id="description"
            type="text"
            name="description_field"
            value="<%= ose.description %>"
        />
        <input 
            type="hidden"
            name="is_editing"
            value="<%= is_editing %>" 
            required="true"
        />
        <input 
            type="hidden"
            name="_id"
            value="<%= ose._id %>" 
            required="true"
        />
        <input type="submit" value="Submit OSE Entry" />
    </form>
</body>
</html>