<div class="relative">
    <% if (is_editing === "true") { %>
        <form  class="absolute right-0 top-0" method="POST" action="/ose-database/ose-delete">
            <input 
                type="hidden"
                name="_id"
                value="<%= ose._id %>" 
                required="true"
            />
            <input class="text-blue-700 pt-[2px]" type="submit" value="Delete" />
        </form>     
    <% } %>
    <form method="POST" action="/ose-database/ose-form" class="flex flex-col">
        <div>
            <label for="anonomoly_id_number">OSE Identification Number:</label>
            <input
                value=<%= ose.anonomoly_id_number %> 
                id="anonomoly_id_number"
                type="number"
                name="anonomoly_id_number_field"
                required="true"
                class="border-solid border-2 border-gray-700 bg-gray-200 w-10"
            />
        </div>
        <hr class="border-t-4 border-red-700">
        <div>    
            <label for="author">Documentation Manager:</label>
            <select
                id="author"
                for="author"
                name="author_field"
                class="border-solid border-2 border-gray-700 bg-gray-200"
                required="true"
            >
                <% authors.forEach((author) => { %>
                    <option
                        value="<%= author._id %>"
                        <% if (author._id === ose.author) { %>
                            selected
                        <% } %>
                        >Dr. <%= author.first_name + " " + author.family_name %></option>
                <% }); %>
            </select>
        </div>
        <div>
            <label for="object_class">Object Class:</label>
            <select
                id="object_class"
                for="object_class"
                name="object_class_field"
                class="border-solid border-2 border-gray-700 bg-gray-200"
                required="true"
            >
                <% ["ZAYIN", "TETH", "HE", "WAW", "ALEPH"].forEach((object_class) => { %>
                    <option
                        value="<%= object_class %>"
                        <% if (object_class === ose.object_class) { %>
                         selected
                        <% } %>
                        ><%= object_class %></option>
                <% }); %>
            </select>
        </div>
        <div>
            <label for="special_containment_procedures">Special Containment Procedures:</label>
            <input
                id="special_containment_procedures"
                type="text"
                name="special_containment_procedures_field"
                class="border-solid border-2 border-gray-700 bg-gray-200"
                value="<%= ose.special_containment_procedures %>"
            />
        </div>
        <div>
            <label for="description">Description:</label>
            <input
                id="description"
                type="text"
                name="description_field"
                class="border-solid border-2 border-gray-700 bg-gray-200"
                value="<%= ose.description %>"
            />
        </div>
        <input 
            type="hidden"
            name="is_editing"
            value="<%= is_editing %>" 
            required="true"
        />
        <input 
            type="hidden"
            name="_id"
            value="<%= ose._id %>" 
            required="true"
        />
        <input type="submit" class="text-left border-solid border-2 border-gray-700 bg-gray-200 mr-auto" value="Submit OSE Entry" />
    </form>
</div>